.list-group-item {
    position: relative;
}

.list-group-item input, .list-group-item span, .list-group-item a {
    vertical-align: top;
}

.list-group-item span {
    margin-left: 10px;
}

.list-group-item span.complete {
    text-decoration: line-through;
}

.list-group-item a {
    display: none;
    position: absolute;
    top: 11px;
    right: 11px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.list-group-item:hover a {
    display: block;
}